<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Crypto_Project_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
  	<error-code>500</error-code>
  	<location>/Login.jsp</location>
  </error-page>
  <error-page>
  	<error-code>401</error-code>
  	<location>/Login.jsp</location>
  </error-page>
  <error-page>
  	<error-code>403</error-code>
  	<location>/Login.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/Login.jsp</location>
  </error-page>
  <error-page>
  	<error-code>503</error-code>
  	<location>/Login.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cryto.src.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ForgetServlet</display-name>
    <servlet-name>ForgetServlet</servlet-name>
    <servlet-class>cryto.src.ForgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetServlet</servlet-name>
    <url-pattern>/ForgetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mailservlet</display-name>
    <servlet-name>mailservlet</servlet-name>
    <servlet-class>cryto.src.mailservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailservlet</servlet-name>
    <url-pattern>/mailservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>acceptInviteServlet</display-name>
    <servlet-name>acceptInviteServlet</servlet-name>
    <servlet-class>cryto.src.acceptInviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptInviteServlet</servlet-name>
    <url-pattern>/acceptInviteServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>groupservlet</display-name>
    <servlet-name>groupservlet</servlet-name>
    <servlet-class>cryto.src.groupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupservlet</servlet-name>
    <url-pattern>/groupservlet</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>cryto.src.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutCheck</display-name>
    <servlet-name>LogoutCheck</servlet-name>
    <servlet-class>cryto.src.LogoutCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCheck</servlet-name>
    <url-pattern>/LogoutCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cryto.src.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutMessage</display-name>
    <servlet-name>LogoutMessage</servlet-name>
    <servlet-class>cryto.src.LogoutMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutMessage</servlet-name>
    <url-pattern>/LogoutMessage</url-pattern>
  </servlet-mapping>
</web-app>